@import '../../styles/variables';
@import '../../styles/mixins';

.pagination-list{
    margin: 0;
    padding: 10px 20%;
    @include flex;
    justify-content: space-evenly;
    border-top: $border;

    .pagination-item{
        display: block;
        min-width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        margin: 0;
        border: $border;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            @include shadow($hover_shadow)
        }
    }

    .active{
        @include shadow($hover_shadow)
    }
}