.pagination-list{
    list-style: none;
    margin: 20px 0;
    padding: 0 20%;
    display: flex;
    justify-content: space-evenly;

    .pagination-item{
        min-width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            border: 1px solid #440099;

            a{
                color: #440099;
                &:visited{
                    color: #440099;
                }
            }
        }

        a{
            text-decoration: none;
            &:visited{
                color: black;   
            }

            
        }
    }
}