@import '../../styles/variables';
@import '../../styles/mixins';

.card{
    max-width: 20%;
    min-height: 250px;
    margin: 20px 0;
    padding: 25px 5px 0 5px;
    text-align: center;
    border: $border;
    border-radius: 4px;
    @include shadow(rgba(0, 0, 0, 0.3));
    cursor: pointer;
    
    @media (max-width: $medium_break) {
        max-width: 40%;
    }

    @media (max-width: $medium_break) {
        max-width: 45%;
    }

    @media (max-width: $xs_break) {
        max-width: 80%;
    }

    &:hover{
        @include shadow($hover_shadow);
    }
    p {
        margin: 10px 0;
        padding: 0;
        text-transform: uppercase;
    }
    
    figure{
        width: 100%;
        @include center(0);
        padding: 0;
    }
}