@import '../../styles/variables';
@import '../../styles/mixins';

section{
    width: 80%;
    @include center;
    @include flex(column);
    justify-content: space-around;

    .pokemons_container{
        margin: 0;
        padding: 0;
        @include flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}
.pag_nav{
    width: 80%;
    @include center(0);
}