section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .pokemons_container{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .pag_nav{
        width: 80%;
        margin: 15px auto;
    }
}