@import '../../styles/variables';
@import '../../styles/mixins';

.pokemon_nav{
    min-width: 300px;
    @include flex;
    justify-content: space-evenly;
    text-transform: uppercase;

    li{
        margin-right: 5px;
        
        a{
            color: #fff;
        }
        p{
            margin: 0;
            span{
                margin: 0 3px;
                cursor: pointer;
            }
        }
    }
}