.pkmn_modal_title{
    margin: 0;
    &::first-letter{
        text-transform: uppercase;
    }
}

.pkmn_modal_fig{
    max-width: 200px;
    margin: 20px auto;

    img{
        width: 100%;
    }
}

.pkmn_modal_abilities{
    max-width: 80%;
    margin: 0 auto;
    border-top: 1px solid #d9d9d9;


    span{
        display: block;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}
