@import '../../styles/variables';
@import '../../styles/mixins';

.pkmn_modal_title{
    @include center;
    &::first-letter{
        text-transform: uppercase;
    }
}

.pkmn_modal_fig{
    max-width: 80%;
    @include center(20px);
}

.pkmn_modal_abilities{
    max-width: 80%;
    @include center(0);
    border-top: $border;
    font-size: 15px;
    @media (max-width: $small_break) {
        max-width: 95%;
        font-size: 13px;
    }

    @media (max-width: $xs_break) {
        max-width: 100%;
    }

    span{
        display: block;
        font-weight: bold;
        text-transform: uppercase;
    }
}
