/*************** MODAL */
$modal_main_color: rgba(0, 0, 0, 0.3);
$modal_bg_color: #fff;

/*************** POKEDEX */
$border: 1px solid #d9d9d9;
$hover_shadow: rgba(0, 0, 0, 0.5);

/*************** BREACKPOINTS */
$medium_break: 900px;
$small_break: 590px;
$xs_break: 480px;