@import '../../styles/variables';
@import '../../styles/mixins';

.modal {
	position: fixed;
	max-width: 350px;
	top: 50%;
	left: 50%;
	padding: 24px;
	background-color: $modal_bg_color;
	transform: translate(-50%, -50%);
	transition: all, 0.5s;
	border-radius: 4px;
	@include shadow($modal_main_color);

	@media (max-width: $xs_break) {
        max-width: 60%;
    }

	&.close {
		transform: translate(-50%, -600%);
	}
}

.modal_btn{
	float: right;
	min-width: 29px;
	min-height: 29px;
	background-color: $modal_bg_color;
	color: ($modal_main_color);
	border: none;
	@include shadow($modal_main_color);
}
