.modal {
	position: fixed;
	max-width: 350px;
	top: 50%;
	left: 50%;
	padding: 24px;
	background-color: white;
	transform: translate(-50%, -50%);
	transition: all, 0.5s;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

	&.close {
		transform: translate(-50%, -600%);
	}
}

.modal_btn{
	float: right;
	min-width: 29px;
	min-height: 29px;
	background-color: #ffffff;
	color: rgba(0, 0, 0, 0.3);
	border: none;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
